<div id="page-content-wrapper">
   <header class="site-header">
      <nav class="site-nav">
         <ul>
            <li>
               <a class="page-link" href="/">
               <img src=/assets/home-fc96146798a3ef0441e2aa4acf8dd399f98d03f8e248fd65d8c0a695bc3cf3ac.png height="96" width="96">
               </a>
            </li>
            <li>
               <a href="/contact">Contact</a>
            </li>
         </ul>
      </nav>
   </header>
  <div class="call-out" 
  style="background-image: url(/assets/background-2-7c3284e69f63d1271b22ab09185961940777e9225250b075684f141ee7151135.jpg)">
    <h1 class="site-title">
      <a href="/">Byron Weiss</a>
    </h1>
    <div class="divider"></div>
    <h1 class="title">Bloc Jams Angular</h1>
  </div>
  
</header>

    <div class="content">
      <article >
  <section class="post-content"><p class="center"><img src=/assets/blocjamsang-4ef90bed92b491a38cb6776e9a98cb82f1c0770982bafff6bcd52302db7915d2.png alt="" /></p>

<h2 id="explanation">Explanation</h2>
<p>This was some of my first exposure to building a front end with AngularJS and I’m eager to learn more.   The data binding is probably the main draw for me.</p>

<p>In this project we created a music player demo.  The control interface uses a directive template for its volume and song position seek bars.  To accomplish having the control remain accessible as a utility for different parts of the application, i.e. not tied to one particular function, the directive uses a binding expression ‘onChange’.</p>

<h2 id="solution">Solution</h2>
<p>A partial look at that directive:</p>

<figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="kd">function</span> <span class="nx">seekBar</span><span class="p">(</span><span class="nx">$document</span><span class="p">)</span> <span class="p">{</span>

        <span class="k">return</span> <span class="p">{</span>
            <span class="na">templateUrl</span><span class="p">:</span> <span class="s1">'/templates/directives/seek_bar.html'</span><span class="p">,</span>
            <span class="na">replace</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
            <span class="na">restrict</span><span class="p">:</span> <span class="s1">'E'</span><span class="p">,</span>
            <span class="na">scope</span><span class="p">:</span> <span class="p">{</span>
                <span class="na">onChange</span><span class="p">:</span> <span class="s1">'&amp;'</span>
            <span class="p">},</span>
            <span class="na">link</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">scope</span><span class="p">,</span> <span class="nx">element</span><span class="p">,</span> <span class="nx">attributes</span><span class="p">)</span> <span class="p">{</span>

                <span class="kd">var</span> <span class="nx">seekBar</span> <span class="o">=</span> <span class="nx">$</span><span class="p">(</span><span class="nx">element</span><span class="p">);</span>

                <span class="nx">scope</span><span class="p">.</span><span class="nx">trackThumb</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
                    <span class="nx">$document</span><span class="p">.</span><span class="nx">bind</span><span class="p">(</span><span class="s1">'mousemove.thumb'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">event</span><span class="p">)</span> <span class="p">{</span>
                        <span class="kd">var</span> <span class="nx">percent</span> <span class="o">=</span> <span class="nx">calculatePercent</span><span class="p">(</span><span class="nx">seekBar</span><span class="p">,</span> <span class="nx">event</span><span class="p">);</span>
                        <span class="nx">scope</span><span class="p">.</span><span class="nx">$apply</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
                            <span class="nx">scope</span><span class="p">.</span><span class="nx">value</span> <span class="o">=</span> <span class="nx">percent</span> <span class="o">*</span> <span class="nx">scope</span><span class="p">.</span><span class="nx">max</span><span class="p">;</span>
                            <span class="nx">notifyOnChange</span><span class="p">(</span><span class="nx">scope</span><span class="p">.</span><span class="nx">value</span><span class="p">);</span>
                        <span class="p">});</span>
                    <span class="p">});</span>

                    <span class="nx">$document</span><span class="p">.</span><span class="nx">bind</span><span class="p">(</span><span class="s1">'mouseup.thumb'</span><span class="p">,</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
                        <span class="nx">$document</span><span class="p">.</span><span class="nx">unbind</span><span class="p">(</span><span class="s1">'mousemove.thumb'</span><span class="p">);</span>
                        <span class="nx">$document</span><span class="p">.</span><span class="nx">unbind</span><span class="p">(</span><span class="s1">'mouseup.thumb'</span><span class="p">);</span>
                    <span class="p">});</span>
                <span class="p">}</span>
                <span class="kd">var</span> <span class="nx">notifyOnChange</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">newValue</span><span class="p">)</span> <span class="p">{</span>
                    <span class="k">if</span> <span class="p">(</span><span class="k">typeof</span> <span class="nx">scope</span><span class="p">.</span><span class="nx">onChange</span> <span class="o">===</span> <span class="s1">'function'</span><span class="p">)</span> <span class="p">{</span>
                        <span class="nx">scope</span><span class="p">.</span><span class="nx">onChange</span><span class="p">({</span> <span class="na">value</span><span class="p">:</span> <span class="nx">newValue</span> <span class="p">});</span>
                    <span class="p">}</span>
                <span class="p">};</span>
            <span class="p">}</span>

        <span class="p">}</span>
    <span class="p">}</span>

    <span class="nx">angular</span>
        <span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'blocJams'</span><span class="p">)</span>
        <span class="p">.</span><span class="nx">directive</span><span class="p">(</span><span class="s1">'seekBar'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'$document'</span><span class="p">,</span> <span class="nx">seekBar</span><span class="p">]);</span>
<span class="p">})();</span></code></pre></figure>

<h2 id="links">Links</h2>
<p><a href="https://github.com/gitbnw/bloc-jams-angular">github</a></p>
</section>
</article>

<!-- Disqus -->


    </div>
    </div>
