 <div id="page-content-wrapper">
   <header class="site-header">
      <nav class="site-nav">
         <ul>
            <li>
               <a class="page-link" href="/">
               <img src="../assets/home.png" height="128" width="128">
               </a>
            </li>
            <li>
               <a href="/contact">Contact</a>
            </li>
         </ul>
      </nav>
   </header>
  <div class="call-out" 
  style="background-image: url('/assets/background-2.jpg')">
    <h1 class="site-title">
      <a href="/">Byron Weiss</a>
    </h1>
    <div class="divider"></div>
    <h1 class="title">PD Fleet Status</h1>
  </div>
  


    <div class="content">
      <article >
  <section class="post-content"><p class="center"><img src="/assets/pdfs.png" alt="" /></p>

<h2 id="explanation">Explanation</h2>
<p>I was tasked upon entering my current job with converting a previously existing MS Access application into a web based one.</p>

<h2 id="challenge">Challenge</h2>
<p>The application’s primary purpose was inventory management as applied to the police department’s fleet of vehicles.  This meant tracking the vehicle’s availability in way that police supervisors could assign avalible vehicles out for each rolling shift of officers.</p>

<p>I was given a crash course in Coldfusion training as that was the back-end environment the application was required to function on.  I made a few attempts to build the front-end in CF as well but found it very limiting.  Eventually I started using the javascript framework that CF uses for many of it’s components, ExtJS.   My only real web programming to this point was piecing together some PHP to generate SQL reports so the ExtJS seemed fairly intimidating.</p>

<p>But the real challenge here was that I wasn’t programming a project for myself, this had actual users.  And users have opinions.  Opinions that they changed each time they saw another version of the application.</p>

<h2 id="solution">Solution</h2>

<p>Functions this web app is able to perform<br />
    * Track vehicle status<br />
    * Allow police supervisors to assign vehicles for current and following shifts<br />
    * Allow supervisors to “advance” the shift so that the current shift expires and the following shift becomes the current shift.<br />
    * Allow supervisors to request repairs from fleet services dept<br />
    * Allow fleet services dept to request vehicle delery for services<br />
    * Allow fleet services and police department to see different views of application along with different permissions on functionality<br />
    * Allow users to use their network login (Windows authentication) for access<br />
    * Generate SQL reports for both police and fleet services<br />
    * Generate charts via the js library zingchart</p>

<h2 id="results">Results</h2>
<p>Aside from exposure to bootstrap, js, and learning to use loops and Ajax calls - this was my first exposure to an MVC framework.  My implementation was anything but graceful, however the application works and is relied upon daily by it’s users.</p>

<p>Multiple times I ran into problems with scope, timing, callbacks, etc.  I went into this project much like I had when writing scripts for IT tasks – basically keep coding until it works.   I came out of it starting to grasp some of the OOP concepts without realizing it.  Being forced into an MVC structure helped.  But also produciing repetetive code that became unwiedly, difficult to trobuleshoot, and brutal for any other developer who inherited it.</p>
</section>
</article>

<!-- Disqus -->

 </div>
    </div>

