<div id="page-content-wrapper">
   <header class="site-header">
      <nav class="site-nav">
         <ul>
            <li>
               <a class="page-link" href="/">
               <img src=/assets/home-fc96146798a3ef0441e2aa4acf8dd399f98d03f8e248fd65d8c0a695bc3cf3ac.png height="96" width="96">
               </a>
            </li>
            <li>
               <a href="/contact">Contact</a>
            </li>
         </ul>
      </nav>
   </header>
  <div class="call-out" 
  style="background-image: url(/assets/background-2-7c3284e69f63d1271b22ab09185961940777e9225250b075684f141ee7151135.jpg)">
    <h1 class="site-title">
      <a href="/">Byron Weiss</a>
    </h1>
    <div class="divider"></div>
    <h1 class="title">tic tac toe</h1>
  </div>
  

    <div class="content">
      <article >
  <section class="post-content"><p class="center"><img src=/assets/tictactoe-44b03d2333a3342abe82825943e851579974d36e24af701573e9f8f03610a209.png alt="" /></p>

<h2 id="explanation">Explanation</h2>
<p>This is my first stab at using Rails 5 and actioncable.  Since there are so many tutorials about using actioncable to create a chat application, I wanted to try something a little different and went with a tic tac toe game.</p>

<p>In it’s current state - the base actioncable feature of the server updating the game view for multiple clients i.e. players - without the need of reloading the screen - works!</p>

<h2 id="links">Links</h2>
<p><a href="https://github.com/gitbnw/action-jackson">github</a></p>
</section>
</article>

<!-- Disqus -->


    </div>
</div>
