<div id="page-content-wrapper">
   <header class="site-header">
      <nav class="site-nav">
         <ul>
            <li>
               <a class="page-link" href="/home">
               <img src="../assets/home.png" height="128" width="128">
               </a>
            </li>
            <li>
               <a href="/contact">Contact</a>
            </li>
         </ul>
      </nav>
   </header>
  
  <div class="call-out" 
  style="background-image: url(<%= asset_path('background-2.jpg') %>)">
    <h1 class="site-title">
      <a href="/">Byron Weiss</a>
    </h1>
    <div class="divider"></div>
    <h1 class="title">aboutbot</h1>
  </div>

    <div class="content">
      <article >
  <section class="post-content"><p class="center"><img src=<%= asset_path('chatbot.png') %> alt="" /></p>

<h2 id="explanation">Explanation</h2>
<p>In progress..</p>

<p>Right now I am working with Sinatra / Angular which is kind of an odd setup =)</p>

<h2 id="links">Links</h2>
<p><a href="https://github.com/gitbnw/chatbot">github</a></p>
</section>
</article>

<!-- Disqus -->


    </div>
 </div>