<div id="page-content-wrapper">
   <header class="site-header">
      <nav class="site-nav">
         <ul>
            <li>
               <a class="page-link" href="/">
               <img src="assets/home.png" height="128" width="128">
               </a>
            </li>
            <!--<li>-->
            <!--   <a href="/contact">Contact</a>-->
            <!--</li>-->
         </ul>
      </nav>
   </header>
  
  <div class="call-out" 
  style="background-image: url('/assets/background-2.jpg')">
    <h1 class="site-title">
      <a href="/">Byron Weiss</a>
    </h1>
    <div class="divider"></div>
    <h1 class="title">Contact</h1>
  </div>
  


    <div class="content">
      <article>
  <section class="post-content"><p><img src="../assets/typewriter-orange.jpg" alt="hi" height="64px" width="64px" /></p>

<form action="https://getsimpleform.com/messages?form_api_token=" method="post">
  <input type="hidden" name="redirect_to" value="https://gitbnw.github.io/portfolio/thank-you/" />
  <input type="text" name="name" placeholder="Your Full Name" />
  <input type="email" name="email" placeholder="Your E-mail Address" />
  <textarea name="message" placeholder="Write your message ..."></textarea>
  <input type="submit" value="Send Message" />
</form>
</section>
</article>

    </div>
    <script src="/js/main.js"></script>

